@charset "UTF-8";
/*color*/
body {
  line-height: 2;
  color: #000000;
  /*都度変更*/
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  /*都度変更*/
}

@media screen and (max-width: 1024px) {
  body {
    line-height: 1.8;
  }
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  /*都度変更*/
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

@media only screen and (max-width: 1180px) {
  .container {
    padding: 0 4%;
  }
}

@media screen and (max-width: 1180px) {
  .only-max {
    display: none;
  }
}

/* header
  -------------------------------------------------------------------------- */
/* pc_block
  -------------------------------------------------------------------------- */
.pc_block {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

@media screen and (max-width: 576px) {
  .pc_block {
    display: none;
  }
}

.pc_block .header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.pc_block .header_flex .left_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pc_block .header_flex .left_block .logo {
  margin: 20px 0;
  margin-right: 120px;
}

.pc_block .header_flex .left_block .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pc_block .header_flex .left_block .header_menu .menu_item {
  line-height: 80px;
}

.pc_block .header_flex .left_block .header_menu .menu_item:nth-child(2) {
  margin: 0 30px;
}

.pc_block .header_flex .left_block .header_menu .menu_item a {
  color: #FFFFFF;
  position: relative;
}

.pc_block .header_flex .left_block .header_menu .menu_item a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -8px;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
}

.pc_block .header_flex .left_block .header_menu .menu_item a:hover::after {
  width: 100%;
}

/* drawer
              -------------------------------------------------------------------------- */
.drawer {
  display: none;
}

@media screen and (max-width: 576px) {
  .drawer {
    display: block;
    position: relative;
  }
  .drawer .button {
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .drawer .hamburger {
    position: fixed;
    top: 16px;
    right: 4%;
    z-index: 50;
    width: 25px;
    height: 25px;
  }
  .drawer .hamburger .hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .drawer .hamburger .hamburger__line::before, .drawer .hamburger .hamburger__line::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: '';
    -webkit-transition: inherit;
    transition: inherit;
  }
  .drawer .hamburger .hamburger__line::before {
    top: -8px;
  }
  .drawer .hamburger .hamburger__line::after {
    top: 8px;
  }
  .drawer .hamburger[aria-expanded="true"] {
    border: 1px solid transparent !important;
  }
  .drawer .hamburger[aria-expanded="true"] .hamburger__line {
    background-color: transparent;
  }
  .drawer .hamburger[aria-expanded="true"] .hamburger__line::before, .drawer .hamburger[aria-expanded="true"] .hamburger__line::after {
    top: 0;
    background-color: #000;
  }
  .drawer .hamburger[aria-expanded="true"] .hamburger__line::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .drawer .hamburger[aria-expanded="true"] .hamburger__line::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .drawer .drawer-background {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .drawer .sp-global-menu {
    position: fixed;
    z-index: 4;
    width: 280px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: #F6F6F6;
    color: #000000;
    -webkit-transform: translateX(280px);
            transform: translateX(280px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
  }
  .drawer .sp-global-menu .drawer_list {
    font-size: 20px;
    margin: 20px 0;
  }
  .drawer .sp-global-menu .drawer_list:first-child {
    margin-top: 100px;
  }
}

.is-drawerActive .sp-global-menu {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-drawerActive .drawer-background {
  visibility: visible;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right_block .reserve {
  line-height: 1;
  padding: 19px 37px;
  background-color: #978F10;
  color: #ffffff;
  margin: 13px 0;
}

.right_block .reserve i {
  margin-right: 10px;
}

/* top
    -------------------------------------------------------------------------- */
.top {
  background-image: url(../image/mainbg01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 100vh;
  background-origin: padding-box;
}

.top .top_word {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 34px;
  font-weight: bold;
  padding-top: 362px;
  margin-left: 75%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

/*===========================================================================
# philosophy
=========================================================================== */
.philosophy {
  position: relative;
  background-image: url(../image/bg.png);
  background-size: cover;
  background-repeat: repeat-x;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 681px;
  width: 100%;
  padding-top: 149px;
}

.philosophy .container {
  position: absolute;
  width: 100%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 0 4%;
}

.philosophy .philosophy_title_area {
  font-size: 28px;
}

.philosophy .philosophy_sentence_area {
  margin: 0 118px;
}

/*===========================================================================
# feature
=========================================================================== */
.feature {
  padding-top: 106px;
  padding-bottom: 78px;
  /* feature_menu
  -------------------------------------------------------------------------- */
}

.feature .feature_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .feature .feature_area {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature .feature_area:nth-child(2) {
  margin: 122px 0;
}

.feature .feature_area .feature_picture {
  width: 54.6875%;
  position: relative;
  height: 0;
  padding-top: 28.4375%;
}

@media screen and (max-width: 1180px) {
  .feature .feature_area .feature_picture {
    width: 58%;
    height: 420px;
  }
}

@media screen and (max-width: 1180px) and (max-width: 1024px) {
  .feature .feature_area .feature_picture {
    width: 50%;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .feature .feature_area .feature_picture {
    height: 280px;
    width: 48%;
  }
}

.feature .feature_area .feature_picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.feature .feature_area .feature_contents {
  width: 38.2%;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .feature .feature_area .feature_contents {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .feature .feature_area .feature_contents {
    margin-top: 0;
    width: 47%;
  }
}

.feature .feature_area .feature_contents .feature_title {
  font-size: 36px;
  line-height: 1.72;
}

@media screen and (max-width: 1180px) {
  .feature .feature_area .feature_contents .feature_title {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .feature .feature_area .feature_contents .feature_title {
    font-size: 26px;
  }
}

.feature .feature_area .feature_contents .feature_sentence {
  margin: 54px 0 67px;
}

@media screen and (max-width: 1024px) {
  .feature .feature_area .feature_contents .feature_sentence {
    margin: 25px 0 35px;
  }
}

.feature .feature_area .feature_contents .about_btn .about {
  padding: 22px 52px;
  border: 1px solid #707070;
  background-color: #fff;
  line-height: 1;
}

.feature .feature_menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature .feature_menu .feature_contents {
  margin-left: 21.25% !important;
}

@media screen and (max-width: 1180px) {
  .feature .feature_menu .feature_contents {
    margin-left: 4% !important;
  }
}

@media screen and (max-width: 1024px) {
  .feature .feature_menu .feature_contents {
    padding-left: 7%;
  }
}

/*===========================================================================
# section_common
=========================================================================== */
section {
  padding-top: 60px;
}

section .section_title {
  text-align: center;
  line-height: 1;
  font-size: 36px;
}

section .section_title::before {
  content: '';
  background-image: url(../image/logo02.png);
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 1180px) {
  section .section_title {
    font-size: 32px;
  }
}

/*===========================================================================
# stay_plan
=========================================================================== */
.stay_plan {
  background-image: url(../image/bg02.png);
  background-repeat: no-repeat;
  padding-bottom: 136px;
}

.stay_plan .stay_plan_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
}

@media screen and (max-width: 1180px) {
  .stay_plan .stay_plan_flex {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.stay_plan .stay_plan_flex .stay_plan_area {
  width: 28.05%;
}

@media screen and (max-width: 1180px) {
  .stay_plan .stay_plan_flex .stay_plan_area {
    width: 100%;
  }
}

.stay_plan .stay_plan_flex .stay_plan_area .stay_plan_contents .plan_title {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 26px;
}

.stay_plan .stay_plan_flex .stay_plan_area .stay_plan_contents .plan_description {
  margin-top: 22px;
}

/*===========================================================================
# news
=========================================================================== */
.news {
  padding-bottom: 60px;
}

.news .news_link {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.news .news_link .news_link_item:first-child {
  margin-right: 53px;
}

.news .news_link .news_link_item a {
  position: relative;
}

.news .news_link .news_link_item a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news .news_link .news_link_item a:hover {
  cursor: pointer;
}

.news .news_link .news_link_item a:hover::after {
  width: 100%;
}

.news .news_grid_area {
  margin-top: 42px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 46px;
}

@media screen and (max-width: 1180px) {
  .news .news_grid_area {
    gap: 30px;
  }
}

.news .news_grid_area .news_item {
  background-color: #F6F6F6;
  padding: 15px 39px 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news_grid_area .news_item .news_item_picture {
  width: 103px !important;
  height: 100px;
  margin-right: 30px;
}

.news .news_grid_area .news_item .news_item_picture img {
  width: 103px !important;
  height: 100%;
}

.news .news_grid_area .news_item .news_item_contents .date {
  font-size: 14px;
  line-height: 1;
}

.news .news_grid_area .news_item .news_item_contents .news_item_title {
  margin-top: 2px;
}

/*===========================================================================
# access
=========================================================================== */
.access {
  background-image: url(../image/bg.png);
  padding-bottom: 110px;
}

.access .address_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
}

.access .address_area .address_image {
  width: 55.6%;
}

.access .address_area .address_info {
  width: calc(100% - 55.6% - 83px);
  margin-left: 83px;
}

.access .address_area .address_info .address_info_contents .contents_title {
  font-weight: bold;
  margin: 8px 0px;
}

.access .address_area .address_info .caption {
  margin-top: 8px;
}

@media screen and (min-width: 1181px) {
  .access .address_area .address_info .caption {
    position: absolute;
  }
}

.access .map {
  position: relative;
  width: 66.8%;
  height: 0;
  padding-top: 50.1%;
  margin: 0 auto;
  margin-top: 70px;
}

.access .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*===========================================================================
# footer_message
=========================================================================== */
.footer_message {
  background-image: url(../image/bg3.png);
  padding: 60px 0;
}

.footer_message .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_message .footer_menu .menu_item {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.footer_message .footer_menu .menu_item:nth-child(2) {
  margin: 0 18px;
}

.footer_message .footer_logo {
  width: 145px;
  height: 92px;
  margin: 0 auto;
  margin-top: 96px;
}

.footer_message .footer_info {
  text-align: center;
}

.footer_message .footer_info .info_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}

.footer_message .footer_info .info_contents:first-child {
  margin: 72px 0 23px;
}

.footer_message .footer_info .info_contents .info_content {
  margin-right: 20px;
}

.footer_message .footer_info .info_contents .info_content:last-child {
  margin-right: 0;
}

.footer_message .footer_info .info_contents .address {
  letter-spacing: 2.88px;
}

/*===========================================================================
# footer
=========================================================================== */
footer {
  background-color: #000000;
  padding: 25px 0;
  text-align: center;
}

footer .copyright {
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

/* modal
-------------------------------------------------------------------------- */
.modal {
  position: fixed;
  top: 242px;
  width: 28.645%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 30px 60px 90px;
  border: 1px solid #707070;
  display: none;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.modal .modal_title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #E7E7E7;
  line-height: 1;
  padding-bottom: 30px;
}

.modal .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.is-modal {
  display: block;
}

/*===========================================================================
# room.html
=========================================================================== */
#room {
  /* breadclumb
  -------------------------------------------------------------------------- */
  /*===========================================================================
  # room_intro
  =========================================================================== */
}

#room .pc_block {
  background: #FFFFFF;
  margin-right: 0;
  margin-left: 0;
}

#room .pc_block .header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#room .pc_block .menu_item a {
  color: #000000;
}

#room .top {
  margin-top: 80px;
  background-image: url(../image/oheya-header.png);
  min-height: 500px;
  position: relative;
}

#room .top .top_word {
  margin-left: 0;
  padding-top: 0;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#room .breadcrumb {
  margin-top: 28px;
}

#room .room_intro {
  margin-top: 82px;
}

#room .room_intro .room_philosophy_area {
  text-align: center;
}

#room .room_intro .room_areas {
  margin-top: 78px;
  margin-bottom: 288px;
}

#room .room_intro .room_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 222px;
}

#room .room_intro .room_area:first-child {
  margin-top: 0;
}

#room .room_intro .room_area .room_picture {
  width: 44.5%;
}

#room .room_intro .room_area .room_info {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: -1;
  height: 381px;
  padding-top: 60px;
  padding-left: 238px;
  background-image: url(../image/bg.png);
  width: 813px;
  padding-right: 60px;
}

#room .room_intro .room_area .room_info .info_contents .info_title {
  font-size: 24px;
  line-height: 1;
}

#room .room_intro .room_area .room_info .info_contents .info_content {
  margin-top: 44px;
  margin-bottom: 40.5px;
}

#room .room_intro .room_area .room_info .caption {
  font-size: 14px;
  line-height: 1.5;
}

#room .room_intro .with_garden {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#room .room_intro .with_garden .room_info {
  right: auto;
  left: 0;
  padding-left: 60px;
}
