@charset "UTF-8";
@import "color";
@import "font-family";
@import "variable.scss";

body {
    line-height: 2;
    color: $color-text-base; /*都度変更*/
    font-family: $font-family-default; /*都度変更*/
  }
  
  img {
    width: 100%;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: $color-text-base; /*都度変更*/
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  a:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  button {
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 1180px) {
    .container {
      padding: 0 4%;
    }
  }

/*===========================================================================
# header_top
=========================================================================== */
  .header_top {
    background-image: url(../image/mainbg01.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
    min-height: 100vh;
    background-origin: padding-box;

   /* header
   -------------------------------------------------------------------------- */
    header {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        
        .left_block {
            display: flex;
            
            .logo {
                margin: 20px 0;
                margin-right: 120px;
            }

            .header_menu {
                display: flex;
                justify-content: center;
                
                .menu_item {
                    line-height: 80px;
                    &:nth-child(2) {
                        margin: 0 30px;
                    }
                    a {
                        color: #FFFFFF;
                    }
                }
            }
        }
        .right_block {
            .reserve {
                line-height: 1;
                padding: 19px 37px;
                background-color: $color-active;
                color: #ffffff;
                margin: 13px 0;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

  /* top
  -------------------------------------------------------------------------- */
    .top {
        
        .top_word {
            writing-mode: vertical-rl;
            font-size: 34px;
            font-weight: bold;
            padding-top: 362px;
            margin-left: 75%;
            transform: translateX(-100%);

        }
    }
  }

/*===========================================================================
# philosophy
=========================================================================== */
.philosophy {
  position: relative;
  background-image: url(../image/bg.png);
  background-size: cover;
  background-repeat: repeat-x;
  writing-mode: vertical-rl;
  height: 681px;  
  width: 100%;
  padding-top: 149px;
  .container {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
  .philosophy_title_area {
    font-size: 28px;
  }

  .philosophy_sentence_area {
    margin: 0 118px;
  }
}

/*===========================================================================
# feature
=========================================================================== */
.feature {
  padding-top: 106px;
  padding-bottom: 78px;

  .feature_area {
    display: flex;
    justify-content: space-between;

    &:nth-child(2) {
      margin: 122px 0;
    }

    .feature_picture {
      width: 54.6875%;
      position: relative;
      height: 0;
      padding-top: 28.4375%;
      @include mq(xl) {
        width: 58%;
        height: 420px;
      }


      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    .feature_contents {
      width: 38.2%;
      margin-top: 20px;
      .feature_title {
        font-size: 36px;
        line-height: 1.72;
        @include mq(xl) {
          font-size: 32px;
        }
      }
      .feature_sentence {
        margin: 54px 0 67px;
      }

      .about_btn {
        .about {
          padding: 22px 52px;
          border: 1px solid #707070;
          background-color: #fff;
          line-height: 1;
        }
      }
    }
  }

  /* feature_menu
  -------------------------------------------------------------------------- */
  .feature_menu {
    flex-direction: row-reverse;
    
    .feature_contents {
      margin-left: 21.25%!important;
    @include mq(xl) {
      margin-left: 4%!important;
    }
      .feature_sentence {

      }
    }
  }



}
/*===========================================================================
# section_common
=========================================================================== */
section {
  padding-top: 60px;
  .section_title {
    text-align: center;
    line-height: 1;
    font-size: 36px;
    &::before {
      content: '';
      background-image: url(../image/logo02.png);
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    @include mq(xl) {
      font-size: 32px;
    }
  }

}


/*===========================================================================
# stay_plan
=========================================================================== */
.stay_plan {
  background-image: url(../image/bg02.png);
  background-repeat: no-repeat;
  padding-bottom: 136px;
  .stay_plan_flex {
    display: flex;
    justify-content: space-between;
    @include mq(xl) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    margin-top: 66px;
    .stay_plan_area {
      width: 28.05%;
      @include mq(xl) {
        width: 100%
      }
      .stay_plan_contents {

        .plan_title {
          font-size: 20px;
          line-height: 1.6;
          margin-top: 26px;
        }
        .plan_description {
          margin-top: 22px;
        }
      }
    }
  }
}

/*===========================================================================
# news
=========================================================================== */
.news {
  padding-bottom: 60px;
  .news_link {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .news_link_item {
      &:first-child {
        margin-right: 53px;
      }
      a {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: #000000;
          transition: all 0.3s ease 0s;
        }
        &:hover {
          cursor: pointer;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .news_grid_area {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 46px;
    @include mq(xl) {
      gap: 30px;
    }

    .news_item {
      background-color: $color-main;
      padding: 15px 39px 15px 10px;
      display: flex;

      .news_item_picture {
        width: 103px!important;
        height: 100px;
        margin-right: 30px;
        img {
          width: 103px!important;
          height: 100%;;
        }
      }
      .news_item_contents {
        
        .date {
          font-size: 14px;
          line-height: 1;
        }
        .news_item_title {
          margin-top: 2px;
        }
      }
    }
  }
}